$colors: (
  neutral: (
    100: 0 0% 100%,
    200: 0 0% 90%,
    300: 0 0% 70%,
    400: 0 0% 60%,
    500: 0 0% 50%,
    600: 0 0% 40%,
    700: 0 0% 30%,
    800: 0 0% 10%,
    900: 0 0% 0%,
  ),
  primary: (
    100: 214 100% 90%,
    200: 214 100% 80%,
    300: 214 100% 70%,
    400: 214 100% 60%,
    500: 214 100% 50%,
    600: 214 100% 40%,
    700: 214 100% 30%,
    800: 214 100% 20%,
    900: 214 100% 10%,
  ),
  secondary: (
    100: 284 71% 90%,
    200: 284 71% 80%,
    300: 284 71% 70%,
    400: 284 71% 60%,
    500: 284 71% 50%,
    600: 284 71% 40%,
    700: 284 71% 30%,
    800: 284 71% 20%,
    900: 284 71% 10%,
  ),
  accent: (
    100: 346 80% 90%,
    200: 346 80% 80%,
    300: 346 80% 70%,
    400: 346 80% 60%,
    500: 346 80% 50%,
    600: 346 80% 40%,
    700: 346 80% 30%,
    800: 346 80% 20%,
    900: 346 80% 10%,
  )
)